module.exports = {
    // the URL to your site, without protocol
    url: "localhost",

    // https settings
    usehttps: true,
    httpsredirect: true,

    httpskey: "path/to/key",
    httpscert: "path/to/cert",
    httpsca: "path/to/ca",
    
    // don't fuck with this unless you really know what youre doing
    database: {
        client: 'sqlite3',
        connection: { filename: './database/db' },
        useNullAsDefault: true
    }
}